<main class="container general-main-wrap">
  <div class="text-center">
    <h3 class="general-login-title">Sign up</h3>
    <a id="facebook_sign_up" href="<%= user_facebook_omniauth_authorize_path %>" class="general-login-icon">
      <i class="fa fa-facebook-official"></i></a>
    <p class="general-login-text">or</p>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'general-form'}) do |f| %>
  <div class="form-group mb-30">
    <%= devise_error_messages! %>
  </div>
  
  <div class="form-group mb-30">
    <label for="email" class="control-label input-label">Enter Email</label>
    <input id="email" name="user[email]" type="email" placeholder="Email" class="form-control" , autofocus="true" />
  </div>

  <div class="form-group mb-30">
    <label for="name" class="control-label input-label">Enter Name</label>
    <input id="name" name="user[name]" type="text" placeholder="Your name" class="form-control" />
  </div>

  <div class="form-group mb-30">
    <label for="password" class="control-label input-label">Password</label>
    <% if @minimum_password_length %>
      <label for="password" class="control-label input-label">
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      </label>
    <% end %><br />
    <input id="password" name="user[password]" type="password" placeholder="Password" class="form-control" />
  </div>

  <div class="form-group mb-30">
    <label for="password" class="control-label input-label">Password confirmation</label>
    <input id="password_confirmation" name="user[password_confirmation]" type="password" placeholder="Password confirmation" class="form-control" />
  </div>


  <div class="text-center">
    <button type="submit" class="btn btn-default mb-20" name="commit" value="Sign up">Sign up</button>
  </div>
  <% end %>
  <p class="general-sign-text text-center">Have an account?
    <a href="/users/sign_in" class="in-gold-500">Sign in</a></p>
  <p class="general-sign-text text-center">Don’t want to sign up?
    <a href="/" class="in-gold-500">Back to Store</a></p>
</main>