<h1>Welcome to https://bs-t.herokuapp.com, <%= @user.name %>!</h1>
<h3>Your account signup details are below</h3>
<ul>
  <li>Name:
    <%= @user.name %>
  </li>
  <li>E-mail:
    <%= @user.email %>
  </li>
</ul>
<p>Thanks for testing app and have a great day!</p>