<main class="container general-main-wrap">
  <div class="text-center">
    <h3 class="general-login-title">Forgot your password?</h3>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: 'general-form'}) do |f| %>
  <div class="form-group mb-30">
    <%= devise_error_messages! %>
  </div>

  <div class="form-group mb-30" align="center">
    <label for="email" class="control-label input-label">Enter Email</label>
    <input id="email" name="user[email]" type="email" placeholder="Email" class="form-control" , autofocus="true" />
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-default mb-20" name="commit" value="Send me reset password instructions">Send
      me reset password instructions</button>
  </div>
  <% end %>

  <p class="general-sign-text text-center">
    <a href="/users/sign_in" class="in-gold-500">Sign in</a></p>
  <p class="general-sign-text text-center">
    <a href="/users/sign_up" class="in-gold-500">Sign up</a></p>
  <p class="general-sign-text text-center">
    <a href="/" class="in-gold-500">Back to Store</a></p>
</main>
